node_modules
public/javascripts/analysis*
public/javascripts/artistbox*
public/javascripts/visualize*
logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
*.log
conf/*-credentials.conf
react-frontend/dist
