@(errors:List[String])(implicit flash: Flash)

@main("Register") {
<h2>Register:</h2>

<p class="form-error">@flash.get("message")</p>

<ul class="form-error">
@for(e <- errors) {
    <li>@e</li>
}
</ul>

<form action="/register" method="POST">
    <input name="name" type="text" placeholder="username"/>
    <input name="password.main" type="password" placeholder="Choose a password"/>
    <input name="password.confirm" type="password" placeholder="Repeat the password"/>
    <button type="submit">Register</button>
</form>
}