@(errors:List[String])(implicit flash: Flash, session: Session)

@main("Register") {

<div class="row">
    <div class="col-md-12">
        <div class="text-center">
        @if(errors.nonEmpty) {
            <p>In order to register you have to meet the following requirements:</p>
            <div class="form-error">
                <ul>
                @for(e <- errors) {
                    <li>@e</li>
                }
                </ul>
            </div>
        }
        </div>
    </div>
    <div class="col-md-12">
        <div class="text-center">
            <form class="auth-form" action="/register" method="POST">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-user"></i></span>
                    <input type="text" name="name" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-user-secret"></i></span>
                    <input type="password" name="password.main" class="form-control" placeholder="Choose a password" aria-describedby="basic-addon1">
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-user-secret"></i></span>
                    <input type="password" name="password.confirm" class="form-control" placeholder="Repeat the password" aria-describedby="basic-addon1">
                </div>
                <button class="btn btn-default" type="submit">Register</button>
            </form>
        </div>
    </div>
</div>
}