@(errors:List[String])(implicit flash: Flash)

@main("Register") {
<h2>Register:</h2>

<p class="form-error">@flash.get("message")</p>

<ul class="form-error">
@for(e <- errors) {
    <li>@e</li>
}
</ul>
<div class="inputs">
    <form action="/register" method="POST">
        <input class="form-control floating-label" name="name" type="text" placeholder="username"/>
        <input class="form-control floating-label" name="password.main" data-hint="At least 6 characters long" type="password" placeholder="Choose a password"/>
        <input class="form-control floating-label" name="password.confirm" type="password" placeholder="Repeat the password"/>
        <button class="btn btn-raised" type="submit">Register</button>
    </form>
</div>

}