@(service:String)(implicit flash: Flash, session: Session, request: RequestHeader)

@import play.api.Play.current

@main("Your Collection", wide = true) {
    <div id="content"></div>

    <script type='text/javascript'>
        window.streamingservice = {'name': '@service', 'url': '@routes.Application.socket().webSocketURL()'};
    </script>
    @if(play.api.Play.isDev) {
        <script type='text/javascript' src='http://localhost:3000/artistbox.js'></script>
    } else {
        <script type='text/javascript' src='@routes.Assets.versioned("javascripts/artistbox.min.js")'></script>
    }
}
