#dropzone {
  position: relative;
  border: 2px dotted @purple-600;
  border-radius: 50%;
  color: @purple-300;
  height: 300px;
  margin: 30px auto;
  padding: auto auto;
  text-align: center;
  width: 300px;
  background: url('/assets/images/itunes_logo.png') no-repeat center center;
  background-size: 250px 250px;
}

#dropzone.hover {
  transform: rotate(30deg);
}

//Thanks Giona http://stackoverflow.com/questions/16771225/css3-rotate-animation
#dropzone.dropped {
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
  @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
  @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
  @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
}

.drop-instruction {
  h4 {
    line-height: 140%;
  }
}

#artistBox {
  margin-top: 35px;
}

.artist {
  width: 33%;
  position: relative;
  background-color: @grey-400;
  .album-list-opener {
    border-radius: 0;
    border-right: none;
    border-bottom: none;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    margin-left: 10px;
    padding: 5px 10px;
  }
  .panel-heading {
    overflow: hidden;
    background-color: @amber-300;
    border-color: @amber-700;
    height: 50px;
     padding: 0;
     div {
       padding: 5px;
       width: 90%;
     }
   }
   .panel-body {
     display: none;
     padding: 0;
   }

   .albumList {
     padding: 0;
     .album {
       padding: 5px;
       height: 40px;
       margin: 0;
     }
     .album.hasAlbum {
       background-color: @green-300;
     }
   }
}

@media (max-width: 768px) {
  .artist {
    width: 48%;
  }
}
