@import "_material-design-colors";

body {
    padding-bottom: 30px;
}

a {
  color: @blue-800;
}

div.centered {
    margin-left: 0;
    margin-right: 0;
    text-align: center;
}

hr {
    width: 50%;
    background-color: @purple-400;
    height: 1px;
}

@import "_flash-message";
@import "_forms";
@import "_itunes-drop";
