@()(implicit flash: Flash, session: Session)

@main("str::compare") {
    <div id="start-page" class="container-fluid">
        <div class="centered">
            <h3>Hello!</h3>
        </div>
        <div class="centered">
            <p>Stream Compare is a little application that wants to help you decide which music
                streaming service suits best your musical taste.</p>
            <hr>
            <h4>There are basically three steps involved</h4>
        </div>
        <div class="row steps">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <p>
                    You tell me what you like by importing music from a music streaming service like Spotify or Soundcloud
                    or by letting me parse your iTunes Library XML file. It is also possible to import audio files
                    directly from your computer (no upload required).
                </p>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <p>
                    You can inspect your imported music selection,
                    attach importance to certain artists or mark them
                    irrelevant. Then you trigger the analysis.
                </p>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <p>
                    View the results of the analysis. See what of your music the different streaming services have to offer.
                    You might discover new releases. Currently Spotify, Deezer, <span class="deprecated">Rdio</span> and Napster
                    are part of the analysis. See at a glance how they compare.
                </p>
            </div>
        </div>

        <div class="about-container hidden-sm hidden-xs">
            <a href="https://github.com/haffla/stream-compare"><img width="60" height="60" src="/assets/images/Octocat.jpg"></a>
        </div>
    </div>

}
