@(title: String, modules:List[String] = List(), wide:Boolean = false)(content:Html)(implicit flash: Flash, session: Session)

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.versioned("lib/bootstrap/css/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="stylesheet" href='@routes.WebJarAssets.versioned("lib/font-awesome/css/font-awesome.min.css")'>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,900' rel='stylesheet' type='text/css'>
        <script src="@routes.WebJarAssets.versioned("lib/jquery/jquery.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/facebook.js")"></script>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="@routes.Application.index">Stream Mashup</a>
                </div>
                <div>
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Settings</a></li>
                        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Import Music Taste<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="@routes.SpotifyController.login()">Spotify</a></li>
                                <li><a href='@routes.ItunesController.index("itunes", "yes")'>iTunes</a></li>
                                <li><a href="@routes.DeezerController.login()">Deezer</a></li>
                                <li><a href="@routes.SoundcloudController.login()">Soundcloud</a></li>
                                <li><a href="@routes.LastfmController.login()">Lastfm</a></li>
                                <li><a href="#">
                                    <fb:login-button scope="user_actions.music" onlogin="checkLoginState();"></fb:login-button>
                                </a></li>
                            </ul>
                        </li>
                        <li><a href="@routes.UserController.analysis()">Analysis</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        @if(!session.get("username").isDefined) {
                            <li><a href="@routes.AuthController.login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                            <li><a href="@routes.AuthController.register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                        } else {
                            <li><a href="@routes.AuthController.logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
        <div class="spacer"></div>

        @containerClass(wide:Boolean) = @{
          if(wide) "container-fluid"
          else "container"
        }

        <div class="@containerClass(wide)">
        @content
        </div>

        <div class="message-container">
            <div>@flash.get("message")</div>
        </div>

        <script src="@routes.WebJarAssets.versioned("lib/bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript"></script>
        @if(modules.contains("admin")) {
            <script src="@routes.Assets.versioned("javascripts/admin.js")" type="text/javascript"></script>
        }
    </body>
</html>
